@media (max-width: 1000px) {
  .sword-media-cont {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .open-sea-button-margin {
    margin-top: 2rem;
  }
}

@media (min-width: 1000px) {
  .hero-section {
    height: 100vh;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .hero-section-content {
    margin-top: 40px;
  }
}

@media (max-height: 790px) {
  .hero-section-content {
    margin-top: 8rem;
  }
}
